<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>An Error Occurred</title>
    <link rel="icon" href="assets/sword_in_speech.png"/>
</head>
<body>
In the deep dark dungeon, an error occurred. Sorry! Coming soon: ability to report issues. Thanks for playing!<br>
You can try using Back on your browser to resolve the issue.
<br>
<br>
<hr>
<br>
<br>
<h4>Developer Info:</h4>
Exception: {{exception}} <br>
Stack trace:<br>
<div style="overflow:auto; height:300px; border:1px solid;">
{{#stackTrace}}
{{.}}<br>
{{/stackTrace}}
</div>
</body>
</html>