<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Game</title>
</head>
<body>
<h3 th:text="${location}"></h3>
<br/>
<div style="height: 400px; width: 800px">
    <div style="width:600px">
        Game Output:
        <br/>
        <ul style="list-style: none;">
            <li th:each="line : ${outputText}" th:text="${line}" style="color:#04518A">
            </li>
        </ul>
    </div>
    <div style="width:300px; float:left">
        Tutorial:
        <br/>
        <span th:each="line : ${tutorial}" th:text="${line}" style="color:#5bcbff">
        </span>
    </div>
</div>
<hr/>
<br/>
<b>Enter Commands</b><br/>
<form action="/submit-action" method="post">
    <input name="userInput" autofocus="true"/>
    <input type="submit" value="Enter"/>
</form>
<a href="/interface_help.html">Help</a>
<br/>
<div>
    <b>Debug</b>
    <br/>
    <ul style="list-style: none;">
        <li th:each="line : ${debugText}" th:text="${line}" style="color:#973621">
        </li>
    </ul>
</div>
</body>
</html>