<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Game</title>
    <link rel="stylesheet" imageString="text/css" href="css/main.css" type="text/css">
    <link rel="icon" href="assets/sword_in_speech.png">
</head>
<body>
<h3>{{location}}</h3>
<h5>Version 0.0.3</h5>
<br/>
<div class="main-box-parent">
    <div class="game-output-box">
        <h4>{{roomName}}</h4>
        <br/>
        <ul class="game-output-list">
            {{#outputText}}
            <li>
                {{.}}
            </li>
            {{/outputText}}
        </ul>
    </div>
    <div class="tutorial-output-box">
        Tutorial:
        <br/>
        {{#tutorial}}
        <span class="tutorial-color">{{.}}</span>
        {{/tutorial}}
    </div>
</div>
<br/>
<b>Enter Commands</b><br/>
<form action="/submit-action" method="post">
    <input name="userInput" autofocus/>
    <input type="submit" value="Enter"/>
</form>
<a href="/interface_help.html">Help</a>
<br/>
<div>
    <b>Debug</b>
    <br/>
    <ul class="debug-output-list">
        {{#debugText}}
        <li>{{.}}</li>
        {{/debugText}}
    </ul>
</div>
</body>
</html>