<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome</title>
    <link rel="icon" href="/assets/sword_in_speech.png" type="img/png">
</head>
<body>
<center>
    <a href="/game"><h4>TextQuest</h4></a>
</center>
This is a project I've put together in my spare time.<br/>
Start date: August 6th 2017.<br/>
End date:???<br/>
<a href="/changelog.html">Version</a>: 0.0.4<br/>
<div style="padding:15px">
    <h4>What is it?</h4>
    <div>
        TextQuest is a text-based dungeon focused on exploration. Play the <a href="/game">game</a>? Have fun!
    </div>
    <h4>What makes it interesting:</h4>
    <div>
        TextQuest is built around a text interface. The player types the action they want to take in and the program
        attempts to interpret the statement as if it were a dungeon master. The intent is to allow for an open-ended
        exploration experience. See <a href="/interface_help.html">help</a> for more info.
    </div>
    <h4>Collaboration</h4>
    <div>
        I would love to collaborate on this project with a graphic/front-end designer. You would have a big "canvas" to work
        with, though I have to emphasize that I want the primary interface for the player interacting with the game to be
        through the text parser. Later, it may be nice to add some clickable interfaces for shops, maps, etc.

        Having animations for some things, like the animations in Pillars of Eternity that look like they are
        drawn in ink on a scroll, would be awesome. Or other styles! Please contact me through
        <a href="https://github.com/pauldennis2/NLPTextDungeon">GitHub</a>. It would be awesome to have a fantasy/dungeon
        appropriate look and feel to the app.
    </div>
    To see what's coming soon check out the <a href="/changelog.html">changelog</a>.
</div>
</body>
</html>