<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome</title>
</head>
<body>
Welcome to NLPTextDungeon. This is a project I've put together in my spare time.
Start date: August 6th 2017. End date:???
<br/>
<h4>What is it?</h4>
<div>
    NLPTextDungeon is a text-based dungeon focused on exploration. Play the <a href="/game">game</a>?
</div>
<h4>What makes it interesting:</h4>
<div>
    NLPTextDungeon is built around a text interface. The player types the action they want to take in and the program
    attempts to interpret the statement as if it were a dungeon master. The intent is to allow for an open-ended
    exploration experience. See <a href="/interface_help.html">help</a> for more info.
</div>
<h4>Collaboration</h4>
<div>
    I would love to collaborate on this project with a graphic/front-end designer. You would have a big "canvas" to work
    with, though I have to emphasize that I want the primary interface for the player interacting with the game to be
    through the text parser. Later, it may be nice to add some clickable interfaces for shops, maps, etc.

    Having animations for some things, like the animations in Pillars of Eternity that look like they are
    drawn in ink on a scroll, would be awesome. Or other styles! Please contact me through
    <a href="https://github.com/pauldennis2/NLPTextDungeon">GitHub</a>. It would be awesome to have a fantasy/dungeon
    appropriate look and feel to the app.
</div>
<h4>Coming soon</h4>
<div>
    <ul>
        <li>
            Shops
        </li>
        <li>
            Magic
        </li>
        <li>
            Leveling up
        </li>
        <li>
            More dungeons and features
        </li>
    </ul>
</div>
<h4>Known issues</h4>
<div>
    <ul>
        <li>
            Boss fight does not work yet
        </li>
        <li>
            Cannot combine say with and
        </li>
        <li>
            No way to save your game and come back
        </li>
    </ul>
</div>
</body>
</html>